$grid-spacing: rem(24);

html,
body {
  height: 100%;
}

@media screen and (min-width: $bp-tablet) {
  .row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-spacing / 2;
    width: calc(100% + $grid-spacing / 2);
  }

  .col-1 { width:(100% / 12) }
  .col-2 { width:(100% / 6) }
  .col-3 { width:(100% / 4) }
  .col-4 { width:(100% / 3) }
  .col-5 { width:(100% / 2.4) }
  .col-6 { width:(100% / 2) }
  .col-7 { width:(100% / 1.714285714285714) }
  .col-8 { width:(100% / 1.5) }
  .col-9 { width:(100% / 1.333333333333333) }
  .col-10 { width:(100% / 1.2) }
  .col-11 { width:(100% / 1.090909090909091) }
  .col-12 { width:100%; }

  *[class^="col-"] {
    padding-left: $grid-spacing / 2;
    padding-right: $grid-spacing / 2;
  }
}
